.question-editor {
  background-color: #efefef;
  border: 1px solid #999;
  padding: 10px;

  > table {
    width: 100%;
    margin-bottom: 20px;
  }
}

.question-preview {
  padding: 10px;
  position: relative;

  .question-title {
    font-weight: bold;
  }

  .edit-actions {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &:hover {
    background-color: #efefef;
    .edit-actions {
      display: block;
    }
  }
}

input.survey-title {
  font-size: 18px;
  font-weight: bold;
}

.question-editor .question-choices {
  margin-left: 40px;
}

a.remove {
  font-size: 24px;
}

.question-editor textarea {
  height: 20px;
  &[readonly]{
    cursor: pointer;
  }
}