<div class="question-preview form-horizontal"
     ng-hide="question.isEditing"
     ng-dblclick="startEditing(question)"
     question-editable="question">
	<div class="question-title">
		{{ question.title }}
	</div>
	<div class="question-body">
		<table class="table">
			<tr>
				<td></td>
				<td ng-repeat="choice_column in question.choice_columns" class="scale-question-body">
					{{choice_column.content}}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>{{question.choices[0].content}}</td>
				<td ng-repeat="choice_column in question.choice_columns" class="scale-question-body">
					<input type="radio" />
				</td>
				<td>{{question.choices[1].content}}</td>
			</tr>
		</table>
	</div>
	<edit-actions></edit-actions>
</div>
<div class="question-editor form-horizontal" ng-show="question.isEditing">
	<table>
		<tr>
			<td style="width:100px">Question Title</td>
			<td>
				<textarea ng-model="question.title"
				          class="input-xxlarge"></textarea>
			</td>
		</tr>
		<tr>
			<td>Question Type</td>
			<td>
				<select ng-model="question.type" ng-options="c for c in questionTypes">
				</select>
			</td>
		</tr>
	</table>
	<table class="table">
		<tr class="choice-columns">
			<td class="scale-label"></td>
			<td ng-repeat="choice_column in question.choice_columns" class="scale-question-body">
				<input type="text" ng-model="choice_column.content" class="choice-column"/>
			</td>
			<td class="scale-label"></td>
		</tr>
		<tr>
			<td class="scale-label">
				<input type="text" ng-model="question.choices[0].content"/>
			</td>
			<td ng-repeat="choice_column in question.choice_columns" class="scale-question-body">
				<input type="radio" readonly />
			</td>
			<td style="text-align: right" class="scale-label">
				<input type="text" ng-model="question.choices[1].content"/>
			</td>
		</tr>
	</table>
	<div>
		<a ng-click="addChoiceColumn(question, $event)">Add column</a>
	</div>
	<button class="btn" ng-click="stopEditing(question)">Done</button>
</div>