<h1>
    surveymate
    <small>a prototype survey editor</small>
</h1>
<hr>

<div class="survey-heading">
    <form name="editSurvey">
        <input name="survey[title]" type="text" ng-model="survey.title"
               class="survey-title input-xxlarge"
               placeholder="Survey title" class="input-xxlarge"/>
        <br>
        <textarea name="survey[description]" cols="30" rows="3"
                  class="input-xxlarge" placeholder="Survey description"
                  ng-model="survey.description"></textarea>
    </form>
</div>

<div class="question-container" ng-controller="QuestionsCtrl" ng-repeat="question in survey.questions">
	<div ng-include src="getQuestionTemplate(question)"></div>
</div>



<hr>
<h1>DEBUG</h1>
{{ survey }}